<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
<div class="container">
    <h1>Hello Spring</h1>
    <p>회원 기능</p>
    <p>
        <a href="/members/new">회원 가입</a>
        <a href="/members">회원 목록</a>
        <a href="/login">로그인</a>
        <a href="/memorials/new">추모 공간 생성</a>
        <a href="/memorials">추모 공간 조회</a>
        <a href="/members/changePassword">비밀번호 변경</a>
        <a href="/forgotPassword">비밀번호 찾기</a>
        <a href="/main">메인 화면 조회</a>
    </p>
</div>
</body>
</html>
